.chat-side
  .side-header
    %h3.side-header__user-name
      = current_user.name
    %ul.user-menu
      %li.user-menu__edit
        = link_to do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.user-menu__cog
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
  .groups
    .group
      %p.group__group-name test-group1
      %p.group__message まだメッセージがありません
      %p.group__group-name test-group2
      %p.group__message まだメッセージがありません
      %p.group__group-name test-group3
      %p.group__message まだメッセージがありません